# Usado pelo docker-compose para subir o Postgres de desenvolvimento
POSTGRES_USER=mkgamecreator
POSTGRES_PASSWORD=mkgamecreator
POSTGRES_DB=mkgamecreator
# 5442 no host para nao colidir com outros projetos que ja usam a 5432 nesta maquina
POSTGRES_PORT=5442
